@using Microsoft.AspNetCore.Identity
@using ThirdDelivery.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div style="float:right; margin-right: 20px;">
        Hello, @UserManager.GetUserAsync(User).Result.UserName!
        <form method="post" asp-area="Identity" asp-page="/Account/Logout">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </div>
}
else
{
    <div style="float:right; margin-right: 20px;">
        <a class="nav-link btn btn-outline-primary me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="nav-link btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>

    </div>
}
